# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Testing & Artifacts Temp
payload.json
response.json
src/lambda_function.zip
